<md-dialog style="padding: 0.5em; border-radius: 10px;">
    <md-dialog-content>
        <h3>Overview</h3>
        <md-icon>search</md-icon>&nbsp;Search / filter books<br>
        <md-icon>view_list</md-icon>/<md-icon>view_comfy</md-icon>&nbsp; List / Cover view<br>
        <h3>In Book</h3>
        <h4>Mobile / Touch Device</h4>
        <table style="padding-left: 5px;">
            <tr>
                <td>Next page</td>
                <td style="padding-left: 5px;">Swipe-right or Tap</td>
            </tr>
            <tr>
                <td>Previous page</td>
                <td style="padding-left: 5px;">Swipe-left</td>
            </tr>
            <tr>
                <td>Book list</td>
                <td style="padding-left: 5px;">Swipe-up</td>
            </tr>
            <tr>
                <td>Navigation</td>
                <td style="padding-left: 5px;">Swipe-down</td>
            </tr>         
            </table>
            <h4>Keyboard / Mouse</h4>
            <table  style="padding-left: 5px;">
                <tr>
                    <td>Next page</td>
                    <td style="padding-left: 5px;">Cursor-right or Click</td>
                </tr>
                <tr>
                    <td>Previous page</td>
                    <td style="padding-left: 5px;">Cursor-left</td>
                </tr>
                <tr>
                    <td>Book list</td>
                    <td style="padding-left: 5px;">Cursor-up or Home</td>
                </tr>
                <tr>
                    <td>Navigation</td>
                    <td style="padding-left: 5px;">Cursor-down</td>
                </tr>                                        
        </table>
    </md-dialog-content>
</md-dialog>